<html>
	<head>
    <title>Check list</title>
    <link href="http://www.stackmob.com/platform/favicon.ico" type="image/vnd.microsoft.icon" rel="icon" />
    <link href="http://www.stackmob.com/platform/favicon.png" type="image/png" rel="icon" />
    <link rel="stylesheet" href="index.css" />
    <link href='http://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style type="text/css" media="screen">
      /* <![CDATA[ */
        li { padding-top: 10px; }
      /* ]]> */
    </style>
		<!--
		*************************************
		STACKMOB JS SDK DEPENDENCIES
		Include these in your pages where you want to use the StackMob js sdk
		*************************************
		-->
		<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
		<script type="text/javascript" src="http://static.stackmob.com/js/json2-min.js"></script>
		<script type="text/javascript" src="http://static.stackmob.com/js/underscore-1.3.3-min.js"></script>
		<script type="text/javascript" src="http://static.stackmob.com/js/backbone-0.9.2-min.js"></script>
		<script type="text/javascript" src="http://static.stackmob.com/js/2.5.3-crypto-sha1-hmac.js"></script>
		<script type="text/javascript" src="http://static.stackmob.com/js/stackmob-js-0.5.5-min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://static.stackmob.com/js/stackmob-js-0.8.1-bundled-min.js"></script>


		<!--
		*************************************
		INITIALIZE THE JS SDK BELOW

		Copy/Paste the init method from:
		https://dashboard.stackmob.com/sdks/js/config
		*************************************
		-->

		<script type="text/javascript" src="js/init.js"></script>

		<!--
		*************************************
		StackMob JS SDK code 
		*************************************
		-->
		<script type="text/javascript">
      /* <![CDATA[ */
      $(document).ready(function() {


          var Activ = StackMob.Model.extend({
            schemaName: "activs"
          });
            
	var Activs = StackMob.Collection.extend({
            model: Activ,
    	    comparator: function(item) { 
                return -item.get('votes');
            }
	});

	var activs = new Activs();
         activs.fetch({async: true});

          var HomeView = Backbone.View.extend({
           
            el: 'body',

            initialize: function() {
              this.template = _.template($('#item-home').html());
              this.render();
            },

            render: function() {

              var el = this.$el

              el.empty();
              el.append(this.template());

              var listView = new ListView({collection:activs});
              $('.span4').append(listView.render().el);

              return this;
            }
   
          });

          var ListView = Backbone.View.extend({
              
              tagName: 'ul',
              className : 'nav nav-list',

              initialize: function() {
                  this.collection.bind('all', this.render,this);
                  this.template = _.template($('#item-list').html());
              },

	   // sortByVote: function (a,b) { return a.votes - b.votes;},
              render:function (eventName) {
                var template = this.template,
                          el = this.$el,
                  collection = this.collection;
                
                $(".span4 ul").empty();
                
		collection.each(function(activ){
             //   collection.sort(sortByVote).each(function(activ){
                    el.append(template(activ.toJSON()));
                });

                el.append('<span id="addnew"><br><a href="#add">add new suggestion</a></span>');
                
                return this;
              },

          });
      
  
          var AddView = Backbone.View.extend({

            className:"span8",
            tagName: "div",

            events: {
               "click #saveBtn": "save",  
               "keypress .addName":  "onEnter"
            },

            initialize: function() {
              this.template = _.template($('#item-edit').html());
              this.collection = this.options.collection;
              this.render();
            },

            render: function() {
              $('.span8').remove();
              $(this.el).html(this.template());
              $('.row').append(this.el);
              return this;
            },

            onEnter: function(e) {
              if (e.keyCode == 13) {
                this.save(e); 
              }
            },

            save: function(e) {
              var collection = this.collection;
              e.preventDefault();

	      var activ = new Activ({
		name:$('#name').val(), 
		votes:1
	      });

              activ.create({
                success: function(model){
                    collection.add(model);
                }
              });  

              $('#name').val('');   
              
              return this;
            }

          });

          var UpdateView = Backbone.View.extend({

            className:"span8",
            tagName: "div",

            events: {
               "click #saveBtn": "save",  
               "keypress .addName":  "onEnter"
	    },

            initialize: function() {
              this.template = _.template($('#item-edit').html());
              this.model = this.options.model;
              this.render();
            },

            render: function() {
              $('.span8').remove();
              $(this.el).html(this.template(this.model.toJSON()));
              $('.row').append(this.el);
              return this;
            },

            onEnter: function(e) {
              if (e.keyCode == 13) {
                this.save(e); 
              }
            },

            save: function(e) {
              e.preventDefault();

              this.model.save({name:$('#name').val()},{
                success: function(model) {
                  
                }
              });
              
              return this;
            }

          });

          AppRouter = Backbone.Router.extend({

            routes:{
                "":"home",
                "add":"add",
                "update/:id":"update",
        	"delete/:id":"delete", 
		"upvote/:id":"upvote",
		"downvote/:id":"downvote"
	   },

            home:function() {
              new HomeView();
            },

            add:function() {
              new AddView({collection:activs});
            },

            update:function(e) {
              model = activs.get(e);
              new UpdateView({model: model});
            },

	    delete:function(e){
		model = activs.get(e);
		model.destroy();
	    },

	    upvote:function(e) {
              model = activs.get(e);
                newvotes = model.get('votes')+1;
                model.save({votes: newvotes},{
                success: function(model) {}
              });
              return this;
            },

	    downvote:function(e) {
              model = activs.get(e);
                newvotes = model.get('votes')-1;
                model.save({votes: newvotes},{
                success: function(model) {}
              });
              return this;
            },
 
          });

        }(jQuery));

        $(document).ready(function () {
            activApp = new AppRouter();
            Backbone.history.start();           
        });


		</script>

    <script type="text/template" id="item-home">
      <div class="container">
        <div class="page-header">
            <h1><span id="header">What the @*^$% are we doing this weekend?!</span></h1>
        </div>
        <div class="row">
<!--	    <a href="javascript:void(0);" id="login">Login with Facebook</a>-->
<p>add new suggestions using link at the bottom of the list<br>click item to update<br>arrows = upvote and downvote (now sorts by votes!)<br></p>
	    <div id="fb-root"></div>
          <div class="span4 mainlist">
                
          </div>
        </div>
      </div>
    </script>

    <script type="text/template" id="item-edit">
      <form class="form-horizontal" method="post">
        <fieldset>
          <legend>Activity Detail</legend>
          <div class="control-group">
            <label class="control-label" for="input01">Name:</label>
            <div class="controls">
              <input type="text" class="input-xlarge addName" id="name" name="name" value="<%= name %>">
            </div>
          </div>
          <div class="control-group">
            
            <div class="controls">
               <a href="#" id="cancelBtn" class="btn">close</a>
               <a href="#" id="saveBtn" class="btn">save</a>
            </div>
          </div>
          
        </fieldset>
      </form>
    </script>

    <script type="text/template" id="item-list">
        <li>
	    <a href="#upvote/<%= activs_id %>">^</a><br>
	    <%= votes %><a href="#update/<%= activs_id %>">&nbsp;&nbsp;&nbsp;&nbsp;<%= name %></a><br> 
	    <a href="#downvote/<%= activs_id %>">v</a>
	    <span class="delete">&nbsp;&nbsp;&nbsp;&nbsp;[<a href="#delete/<%= activs_id %>">delete</a>]</span>
	</li>
    </script>
</head> 


<script type="text/javascript" src="js/fblogin.js"></script>
<body></body>
</html>
